%h1 
	= @project.title
%p
	= @project.description
#list-headings.row
	.col-md-6
		.row
			.col-md-6
				%span.list-heading Plans
				%span.create-href.pull-right
					= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, new_plan_path
			.col-md-6
				%span.list-heading Tasks
				%span.create-href.pull-right
					= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, '#', class: 'create-task-link'
	.col-md-6

#list-contents.row
	.col-md-6
		.row
			.col-md-6
				#plan-list.list-group
					- @project.plans.each do |plan|
						= link_to "<div class=\"list-group-item-heading\">#{plan.title}</div><div id=\"plan-l-#{plan.id}\" class=\"plan-item list-group-item-text\">##{plan.id}</div>".html_safe, plan_path(plan.id), remote: true, class: 'list-group-item', id: "plan-#{plan.id}"
			.col-md-6
				#task-list.list-group
	.col-md-6
		#task-detail.hidden